@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sarala:wght@400;700&display=swap');

body {
    background: linear-gradient(55deg,rgb(0, 54, 85), rgb(156, 204, 243));
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    height: 60px;
}

.imgHeader {
    height: 80px;
    width: 80px;
}

header nav {
    display: flex;
    gap: 32px;
}

header nav a {
    font-family: 'Sarala', sans-serif;
    text-decoration: none;
    color: rgb(211, 237, 241);
    font-size: 18px;
}

header nav a:hover {
    color: #fff;
    transform: scale(1.01);
    transition: .2s;
}

main {
    border-top: 0.4px solid rgb(232, 244, 248);
    margin-bottom: 48px;
    width: 100%;
}

.conteudoPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 24px;
}

.conteudoPrincipal div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conteudoPrincipal div h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #FFF2E7;
    margin-bottom: -2px;
}

.conteudoPrincipal div h2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(211, 237, 241);
}

.conteudoPrincipal div button {
        box-sizing: border-box;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    color: #e74c3c;
    cursor: pointer;
    margin: 20px;
    border-color: rgb(211, 237, 241);
    background-image: -webkit-linear-gradient(45deg, rgb(211, 237, 241) 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(211, 237, 241) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(211, 237, 241);
}

.conteudoPrincipal div button:hover {
    background-position: 0;
    color: #2F2325;
}

.conteudoSecundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.conteudoSecundario h3 {
    border-top: 0.4px solid rgb(232, 244, 248);
    padding-top: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudoSecundario p {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgb(211, 237, 241);
}

footer {
    border-top: 0.4px solid rgb(232, 244, 248);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}

.logoSocial img{
    height: 60px;
    width: 60px;
}

.logoSocial img:hover {
    transform: scale(1.05);
    transition: .2s;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: rgb(211, 237, 241);
    padding: 10px;
}