<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>
<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../images/Image-login.png" alt="">
                <p>Health Track</p>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <i class="far fa-user"></i>
                        <a href="#">Perfil</a>
                    </li>
                    <li>
                        <i class="fas fa-tachometer-alt"></i> 
                        <a href="../views/gerenciarPeso.html">Gerenciar Peso e Altura</a>
                    </li>
                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="#">Gerenciar Pressão Arterial</a>
                    </li>
                    <li>
                        <i class="fas fa-dumbbell"></i>
                        <a href="#">Gerenciar Atividade Físicas</a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="#">Alimentação</a>
                    </li>
                </ul>
            </div>   
        </sidebar>
        <main>
            <header>
                <a href="dashboard.html"><i class="fas fa-home"></i> Dashboard</a>
                <a href="../index.html"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </header>
            <div class="main-content">
                <div class="panel-row">
                    <button class="panel panel-50" a-view="cadastrarPeso" onclick="fetchContent(this)" a-folder="peso">Cadastrar Peso</button>
                    <button class="panel panel-50" a-view="visualizarPeso" onclick="fetchContent(this)" a-folder="peso">Visualizar Peso</button>
                </div>
                <div class="content" id="ajax-content">

                </div>
            </div>
        </main>
    </div>
    <script src="../js/ajax.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>
</html>